@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: url(https://realtorsusieknowspdx.files.wordpress.com/2021/01/blog-cover-2.png)
    no-repeat center center fixed;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 10%;
  padding-top: "0%";
  margin-right: 0;
  padding-right: 0;
}
.overlaySignUp {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 3%;
  text-align: center;
  color: white;
}

.content__input--form {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  border-right: 1px solid #cfdbd5;
}

.content__input--form > label > input {
  box-sizing: border-box;
  font-family: "Inter";
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
  margin-left: 20px;
  border: 0.5px solid #cfdbd5;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  outline: none;
  margin-right: 30px;
}

.content__input--form > label > input::placeholder {
  color: black;
  font-size: 14px;
}

.content__signUpSubmit .signUpButton {
  height: 7vh;
  width: 300px;
  border: none;
  margin-bottom: 30px;
  font-family: "Inter";
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #ba181b;
  color: whitesmoke;
}

.content__signUpSubmit > .google-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4385f5;
  color: black;
  overflow: hidden;
}

.google-button__google-icon {
  background-color: black;
  background-image: url("https://img.icons8.com/color/50/000000/google-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
  height: 100%;
  width: 20%;
  margin-right: 30px;
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.content__signUpSubmit--line {
  width: 60%;
  height: 1px;
  background-color: black;
  margin-bottom: 12px;
}

.content__signUpSubmit > p,
.content__footer p {
  font-weight: 400;
}

.content__footer p {
  font-size: 13px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .main-container {
    margin: 0px 20px;
  }

  .content__input--form {
    margin-top: 80px;
    align-items: center;
    width: 100px;
  }

  .content__signUpSubmit {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content__footer {
    margin-top: 100px;
  }
}

@media screen and (min-width: 801px) {
  .main-container__content {
    margin-top: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60vw;
    min-height: 400px;
    height: auto;
    /* padding: 5%; */
    border: 0.3px solid #cfdbd5;
    position: relative;
    left: 17%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .content__inputs {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 40vw;
    min-height: 70vh;
    height: auto;
    transform: translate(0, 5%);
    margin-left: 25px;
  }

  .content__signUpSubmit {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, #db2b39 0%, #023047 100%); */
    /* border-left: 1px solid black; */
  }

  .content__footer {
    width: 90%;
  }
}
/* ********************************************************************************************** */

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f39c12;
}
h1 {
  margin: 0 0 0.25em;
} */
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #02394a;
  cursor: pointer;
  border: 2px solid #f39c12;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #f39c12;
}
.items {
  width: 15vw;
  margin: 0;
}
.content__signUpSubmit span {
  color: red;
  margin-left: 10px;
}
.main-container > h1 {
  color: white;
}

.content__input--form .itemsRow .items {
  box-sizing: border-box;
  font-family: "Inter";
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
  border: 0.5px solid #cfdbd5;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  outline: none;
  margin-right: 30px;

}

.content__inputs .content__input--form  .items{
  
}
.phone{
  margin-right:3px;
}
